<!DOCTYPE html>
<html>
<head>
	<title>SSO Signature Generator</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="icon" type="image/png" href="/static/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

<div id="header">
	<h1>SSO signature generator</h1>
</div>

<div id="descriptions">
	<table width="100%"> <tr>
		<td width="50%">
			<p>Input your data in the following fields to generate a personalized email signature.</p>
		</td>
		<td width="50%">
			<br>
			<p>Copy the section below this text and paste it on the email signature settings of your respective email provider.</p>
		</td>
	</tr> </table> 
</div>

<div id="content">
<table width="100%"> <tr>

<td width="50%">
<div id="fillForm">
	<form>
		<div class="form-group">
			<label for="name">Full Name</label> <br>
			<input type="text" name="name" placeholder="Jose Arriola" required>
		</div>
		<div class="form-group">
			<label for="position">Position</label> <br>
			<input type="text" name="position" placeholder="President of the SSO" required>
		</div>
		<div class="form-group">
			<label for="phone">Phone Number</label> <br>
			<input type="text" name="phone" placeholder="(654) 733-7487" required>
		</div>
		<div class="form-group">
			<label for="linkedinURL">Linkedin profile URL</label> <br>
			<input type="text" name="linkedinURL" placeholder="https://www.linkedin.com/in/jose-emiliano-arriola-villafuerte-41621815a/" required>
		</div>
	</form>
	<button onclick="generates()">Submit</button>
	<br>
</div>
</td>

<td width="50%">
<br>
<div id="generated">
	<table width="400px"> <tr>
		<td width="20%">
			<div>
					<img id="logo" src="{{url_for('static', filename='src/logo.png')}}">
			</div>
		</td>
		<td width="80%">
			<div id="signatureHead">
				<b>
					<div id="fillName">Jose Arriola</div>
				</b>
				<b>
					<div id="fillPosition">President of the SSO</div>
				</b>
				<div id="utsc">University of Toronto Scarborough</div>
				<div id="fillPhone">(654) 733-7487</div>
				<a id="fillLink" href="https://www.linkedin.com/in/daniela-venturo-esaine/" target="_blank">
					<img  id="linkedinIcon" src="{{url_for('static', filename='src/linkedin.png')}}">
				</a>
			</div>
		</td>
	</tr> </table>
</div>
</td>
</tr> </table>
</div>

<script src="{{ url_for('static', filename='js/generator.js')}}"></script>

</body>
</html>